<footer
        class="px-4 text-gray-400 border-1 rounded mt-2 p-1"
        style="border-color: var(--color-bg3); box-shadow: var(--color-bg3) 0 0 4px;"
>
        <p class="!m-0">
            &copy; 2025 Galaxypedia.
            <a
                    href="https://github.com/Galaxypedia-Wiki/Galaxypedia-Hugo?tab=readme-ov-file#licensing"
                    title="Licensing Information"
            >
                Some rights reserved</a
            >; please attribute properly and link back.
        </p>
</footer>
