---
---
<div id="elasticsearch">
    <input
            type="text"
            class="border-1 w-full p-2 mb-1 rounded outline-none"
            placeholder="Search"
            id="searchbar"
    />
    <div id="results"></div>
</div>

<style>
</style>
