---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import Footer from "../components/footer.astro";
import Head from "../components/head.astro"
import SearchBar from "../components/searchBar.astro";

import type { CollectionEntry } from "astro:content";
type Props = CollectionEntry<'wiki'>['data'];
const { title } = Astro.props;

const anim = {
	old: {
		name: "bump",
		duration: "0.3s",
		easing: "ease-out",
		direction: "reverse",
	},
	new: {
		name: "bump",
		duration: "0.3s",
		easing: "ease-out",
	},
};

const customTransition = {
	forwards: anim,
	backwards: anim,
};
---
<html lang="en" transition:animate="none">
	<head>
		<Head title={title} />
		<ClientRouter />
		<script src="../scripts/search.js"></script>
	</head>
	<body transition:animate={customTransition}>
		<div class="markdown content">
			<div class="navigation">
				<SearchBar/>
				<div class="flex justify-between">
					<a href="/" class="block mt-4">&lt; Home</a>
				</div>
			</div>
			<main>
				<slot />
			</main>
			<Footer/>
		</div>
	</body>
</html>

<style is:global>
	@keyframes bump {
		0% {
			transform: translateY(10px);
			opacity: 0;
		}
		25% {
			opacity: 0;
		}
		100% {
			transform: translateY(0);
			opacity: 1;
		}
	}
</style>